nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: linear-gradient(#585859, #61492d);
    border-bottom: 2px solid #f7941d;
    padding: 0em 1em;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
    font-family: 'Roboto', sans-serif;
}

.header-bar {
    height: 100px;
    background: url("../images/header_bg.png") !important;
    background-repeat: repeat-x  !important;
}

nav.navbar.navbar-light .navbar-brand,
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,
#user-area
{
    color: #e6eaef;
    font-size: 1.2em;
}

nav.navbar.navbar-light .navbar-brand {
    font-size: 1.9em;
}

#navbarSupportedContent {
    margin-left: 4em;
}

#navbarSupportedContent ul.navbar-nav li.nav-item {
    min-height: 5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 1.7em;
    text-align: center;
    vertical-align: middle;
    min-width: 9em;
    width: 182px;
    height: 97px;
    transition: all 0.3s;
}

#navbarSupportedContent ul.navbar-nav li.nav-item > a {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}

#navbarSupportedContent ul.navbar-nav li.nav-item > a:hover {
    color: white;
}

#navbarSupportedContent ul.navbar-nav li.nav-item:hover {
    color: #e6eaef;
    background-color: 0 !important;
    background: url("../images/navitem_hover_bg.png") !important;
}

#navbarSupportedContent ul.navbar-nav li.nav-item.active
{
    color: #e6eaef;
    background-color: 0 !important;
    background: url("../images/navitem_selected_bg.png") !important;
}

.inner-text-box {
    min-width: 325px;
    outline: none;
    border: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    display: inline-block;
    padding: 10px 40px 10px 25px;
    text-decoration: none;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: 1px 1px 0px 1px rgba(255, 255, 255, 0.18), inset 0.5px 0.866px 8px 0px rgba(0, 0, 0, 0.8);     
    color: #c4c4c4 !important;
    transition: all 0.3s;
}

.inner-text-box:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.inner-text-box:focus {
    background-color: #303137;
    color: #9f9f9f;
    box-shadow: 0px 0px 4px 2px rgba(247, 148, 29, 0.6), inset 0.5px 0.866px 8px 0px rgba(0, 0, 0, 0.8);
}

.search-icon {
    width: 24px;
    height: 24px;
    background-color: 0;
    border: 0;
    background: url("../images/search_icon.png") no-repeat center;
    margin-left: -50px;
}

#avatar-frame {
    margin-left: 1em;
    width: 4.5em;
    height: 4em;
    padding: 5px;
    background-image: url("../images/profile-frame.png");
    background-size: cover;
    border-radius: 8px !important;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.6);     
}

#avatar-frame img {
    border-radius: 8px !important;
    width: 100%;
    height: 100%;
    box-shadow: inset 20px 20px 8px 4px rgba(0, 0, 0, 0.8);
}


#user-area {
    margin-left: 1em;
    font-size: 1em;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}

#user-area a {
    color: #ada8a2;
}