.commenterAvatar img {
    border-radius:50%;
    width: 50px;
    height: auto;
}

.commentText .sub-text {
    text-align: right;
    color:#aaa;
    font-size: small;
}

#comments .comment {
    margin-top: 2em;
}

#comments .comment-text-box {
    width: 100%;
}

.comment-button {
    font-weight: 400 !important;
    display: inline-block;
    border-radius: 60px;
    border: 1px solid #dfdfdf;
    color: #5e5e5e;
    background: #b1b1b1;
    background-image: linear-gradient( -10deg, rgba(0, 0, 0, 0.04) 50%, rgba(255, 255, 255, 0.04) 50%, rgba(173, 173, 173, 0.04) 100%);
    font-weight: bold;
    padding: 8px 40px 8px 40px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: all 0.3s !important;
    margin-left: 20px;
}

.comment-button:hover {
    color: #251202 !important;
    background: #c9c9c9;
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.04) 50%, rgba(255, 255, 255, 0.04) 50%, rgba(173, 173, 173, 0.04) 100%);
}

.comment-button:active {
    background-image: 0;
    background: #b1b1b1;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: #5e5e5e;
    outline: none;
}

.username-text {
    font-size: 0.9em;
    margin-top: 10px;
}

.post-detail {
    margin-right: 20px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.1em;
    line-height: 1.1em;
    margin-bottom: auto;
    margin-top: 15px;
}

.buttons-row {
    margin-top: 20px;
    margin-bottom: 40px;
}

.detail-title {
    margin-top: 40px;
}