body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    background: url("../images/background.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-content {
    margin: 135px 35px 83px 35px;
    padding: 20px 20px;
    box-shadow: 0px 0px 13.44px 2.56px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background: white;
}

.top-bar {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.top-bar-right {
    text-align: right;
}

.section-title {
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 700;
    color: #f7941d;
}

.content-area {
    margin-top: -15px;
    padding-top: 15px;
}

.separator {
    color: #e5e5e5;
    margin-bottom: 0px;
}

.list-group {
    border: 0;
}

.list-group-item {
    border: 0;
    vertical-align: middle;
}

.category-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 15px;
}

.list-group-item {
    border-radius: 60px !important;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-top: 3px;
    margin-bottom: 3px;
    transition: all 0.3s;
}

.list-group-item>.category-name {
    color: black;
    font-size: 1.1em;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.list-group-item:hover {
    border: 1px solid #dbdbdb;
    text-decoration: none !important;
    background-color: #f4f4f4;
}

.category-selected {
    background-color: #f4f4f4 !important;
    box-shadow: 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.26), inset 0.5px 0.866px 4px 0px rgba(0, 0, 0, 0.2) !important;
    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0);
}
 
.side-menu {
    border-right: 1px solid #e5e5e5;
}

.help-text {
    display: inline-block;
    margin-right: 20px;
    color: #a3a3a3;
}

.new-post-button {
    display: inline-block;
    border-radius: 60px;
    border: 1px solid #fbca51;
    background: #F8A036;
    background-image: linear-gradient( -10deg, rgb(247, 151, 46) 50%, rgba(255, 255, 255, 0.04) 50%, rgb(248, 160, 54) 100%);
    font-weight: bold;
    padding: 8px 40px 8px 40px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.65);
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s !important;
    color: black;
}

.new-post-button:hover {
    background: #ffaa44;
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.04) 50%, rgba(255, 255, 255, 0.04) 50%, rgba(173, 173, 173, 0.04) 100%);
    color: #914f00;
    text-decoration: none;
}

.new-post-button:active {
    background-image: 0;
    background: #F8A036;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: #7e5120;
    outline: none;
}

.titles {
    padding-left: 10px;
}

.filters {
    padding-left: 25px;
}

.filter-pill {
    display: inline-block;
    border: 0;
    background: 0;
    border-radius: 60px;
    margin-right: 10px;
    padding: 10px;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.3s;
}

.filter-pill:hover {
    background: #dbdbdb;
}

.button-pill {
    display: inline-block;
    border-radius: 60px;
    border: 1px solid #dbdbdb;
    background: 0;
    color: #737373;
    margin-right: 20px;
    padding: 10px 30px 10px 30px;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.3s;
}

.button-pill:hover {
    background: #dbdbdb;
}

.category-count {
    float: right;
    color: #c2c2c2;
    font-size: 1.1em;
}

h3 {
    color: #F8A036;
}

.main-view {
    padding: 30px 20px 30px 20px;
}

.pet-thumbnail {
    cursor: pointer;
    width: 22%;
    min-height: 200px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.14);
    transition: all 0.3s;
    zoom: 1
}

.pet-thumbnail:hover {
    box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.pager-button-group {
    margin-top: 0px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.pager-button {
    text-align: center;
    vertical-align: middle;
    border-radius: 100px !important;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 42px;
    min-height: 42px;
    background: 0;
    color: #a3a3a3;
    border: 1px solid #dcdcdc;
    transition: all 0.3s;
}

.pager-button:hover {
    background: #f79722;
    border: 1px solid #f79722;
    color: white;
}

.pager-button.active {
    background: 0 !important;
    border: 1px solid #f79722 !important;
    color: black !important;
}

.pager-button.disabled {
    background: #dcdcdc !important;
    border: 1px solid #dcdcdc !important;
    color: #a3a3a3 !important;
}

.view-mode {
    background: 0;
    border: 0;
    font-size: 1.5em;
    margin: 0px 5px 0px 5px;
    padding: 5px 15px 5px 15px;
    color: #7f7f7f;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

.view-mode:hover {
    background: #f79722;
    color: white;
}

.view-mode.active {
    color: #f79722;
}

.view-mode.active:hover {
    background: 0;
    border: 0;
}

.category-link:hover {
    text-decoration: none !important;
}

.criteria-item {
    margin-left: 2em;
    cursor: pointer;
}

.criteria-item.tag-criteria {
    display: inline;
}

.ph-select {
    border-radius: 100px;
    display: inline-block;
    border: 1px solid #dbdbdb;
    background: 0;
    color: #737373;
    padding: 10px 30px 10px 30px !important;
    font-size: 0.9em !important;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 0px !important;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 244px;
}
.right-bar{
    margin-top: -15px;
    padding-top: 30px;
    padding-left: 30px;
    height: 500px;
   width: 300px;
}
 
.left-bar{
    margin-top: -15px;
    padding-top: 30px;
}

.card-img-selected {
    border: 3px solid #f79722;
}

