#main-content {
    margin: 20px auto;
    padding: 20px 20px;
    box-shadow: 0px 0px 10px darkgray;
    border-radius: 10px;
}

.my-button {
    border-radius: 20px;
    box-shadow: 0px 0px 10px darkgray;
    border: 2px solid #F9C14B;
    background: #F8A036;
    font-weight: bold;
}

h3{
    color: #F8A036;
}

h3 .title-post{
    color: #F8A036;
}

.content-post{
    margin-top: 20px;
}

.text-muted{
    color: red!important;
}

.submit-next-step{
    padding: 6px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px darkgray;
    border: 2px solid #F9C14B;
    background: #F8A036;
    font-weight: bold;
    text-decoration: none!important;
}
.submit-next-step:hover{
    background-color: red;
}
.div-submit-next-step{
    text-align: right;
    margin-top: 50px;
}
.div-choose-image-pet{
    margin:10px 0px;
}
.div-choose-image-pet .add-image-pet,
.div-choose-image-pet .image-pet{
    margin: 5px 10px;
    display: inline;
    cursor: pointer;
}
.div-choose-image-pet .image-pet .set-image{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.div-choose-image-pet .add-image-pet{
    border: 1px solid #cccccc;
    padding: 38px 42px;
    border-radius: 10px;
}
.fa-question-circle{
    color: #b3b3b3;
    font-size: 13px;
    margin-left: 10px;
}
#price-find-owner{
    width: 20%;
}
.content-post .form-group{
    margin-top: 1rem;
}